.FileItem {
   --item-height: 100px;
   --name-height: 20px;
   padding: 3px 5px 2px 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: min(100%, var(--item-height));
   height: var(--item-height);
   border-radius: 5px;
   transition: 0.2s;
   .file-icon {
      height: calc(var(--item-height) - var(--name-height) - 10px);
      display: flex;
      justify-content: center;
      object-fit: contain;
      pointer-events: none;
   }

   .file-name {
      line-height: var(--name-height);
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
   }

   &.selected {
      background-color: rgba(178, 228, 244, 0.474);
   }

   @media screen and (max-width: 768px) {
      --item-height: 80px;
      --name-height: 16px;
   }
}

.center {
   display: flex;
   justify-content: center;
}

@keyframes example {
   0% {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(10deg);
   }
   100% {
      transform: rotate(0deg);
   }
}
