.Header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.25);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-item {
    height: auto;
    padding: 10px;
    border-radius: 4px;
    margin: 0px 5px !important;
  }

  .logo {
    width: 3rem;
    border-radius: 50%;
    margin-right: 5px;
  }

  .menu-btn {
    cursor: pointer;
    font-size: 1.2rem;
  }

  .rs-navbar-item-active {
    color: var(--color-pink) !important;
    text-decoration: underline !important;
    font-weight: 700;
  }
}

.header-drawer {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .menu-btn {
    width: 2rem;
    aspect-ratio: 1;
  }
}
